/* CSS declarations go here */

.main-header {
    background-color: #0bd838;
    width: 100%;
    height: 140px;
    position: relative;
}

.main-header-container {
    position: absolute;
    bottom: 5px;
}

.header-spacer {
    height: 40px;
}

